<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%= TITLE %>
        </title>
    </head>

    <body>
        <ul>
            <% for( let i of contact_list ) { %>
            <li>
                <p><%= i.name %> </p>
                <p><%= i.phone %> </p>
            </li>
            <% } %>
        </ul>

        <form action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="Enter Your Name" required>
            <input type="number" name="phone" placeholder="Enter Your Number" required>
            <button type="submit">Add New</button>
        </form>



    </body>

</html>